*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    display: grid;
    place-content: center;
    height: 100vh;
    gap: 5rem;
    background: rgba(249, 251, 253, 1);
    justify-items: center;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.8rem;
    color: rgb(86, 86, 255);
}
.main{
    display: flex;
    gap: 2rem;
}
.btn{
    padding: 2.4rem 3.2rem;
    border-radius: 5vh;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    background: rgb(86, 86, 255);
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    border: 3px solid transparent;
    &:hover{
        color: rgb(86, 86, 255);
        background: transparent;
        border: 3px solid rgb(86, 86, 255) ;
    }
}